<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
    
    </style>

  </head>
  
  <body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Tentang Program dan Pembuat</h3>
            <hr/> 
            <p>Program ExactMatch adalah program untuk mencari informasi relevan dari suatu laman artikel berita dari keyword yg dimasukan pengguna, sehinnga pengguna dapat mengetahui hal-hal terkait yang merupakan informasi kritis mengenai isi berita tersebut seperti tanggal suatu kejadian dan jumlah pihak yang terlibat. Back-end program di buat dengan algoritma algoritma pencocokan string seperti boyer-more, KMP maupun pemakaian Regular Expression dalam mencari informasi penting terkait tersebut.</p>
            <br>
            <p>Pembuat Program: </p>
            <p>Nama/NIM: Mohamad Falah Sutawindaya/13518102</p>
            <p>Deskripsi Tugas: Tugas Kecil 4 Strategi Algoritma - Pencocokan String</p>
        </div>
    </div>
  </body>
</html>